<html>
    {% load static %}
    <head>
        <title>NFC Attendance | Dashboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
        <link rel="stylesheet" href="{% static "app/bootstrap/css/bootstrap.min.css" %}">
        <link rel="stylesheet" href="{% static "app/font-awesome/css/font-awesome.min.css" %}">
        <link rel="stylesheet" href="{% static "app/css/form-elements.css" %}">
        <link rel="stylesheet" href="{% static "app/css/style.css" %}">
        <link rel="shortcut icon" href="{% static "app/ico/favicon.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static "app/ico/apple-touch-icon-144-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static "app/ico/apple-touch-icon-114-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static "app/ico/apple-touch-icon-72-precomposed.png" %}">
        <link rel="apple-touch-icon-precomposed" href="{% static "app/ico/apple-touch-icon-57-precomposed.png" %}">
    </head>
    <body>
        <nav class="navbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">NFC Attendance</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a href="/dashboard"><b>Dashboard</b></a>
                    </li>
                    <li class="active" >
                        <a  href="/addlecture">Add Lecture</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a>{{name}}&nbsp;&nbsp;</a>
                    </li>
                    <li>
                        <a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <h3>Attendance Details</h3>
            <div class="container">
                <div class="row" style="margin-bottom: 10">
                    <div class="col-md-1">
                        Course:
                    </div>
                    <form method="GET">
                        <div class="col-md-1">
                            <select name="ccode" id="ccode">
                                {% for ccode in clist.clist %}
                                    
                                    {% if selcourse == ccode %}
                                    <option value="{{ccode}}" selected>{{ccode}}</option>
                                    {% else %}
                                    <option value="{{ccode}}">{{ccode}}</option>
                                    {% endif %}
                                        
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-md-1">
                            <input type="submit" value="Show Attendance">
                        </div>
                        </form>
                </div>
            </div>  
            <table class="table table-hover">
                <thead>
                    <tr style="background: #3c1a4b">
                        <th>Student</th>
                        <th>Present</th>
                        <th>Absent</th>
                        <th>Total Classes</th>
                        <th>Percentage</th>
                    </tr>
                </thead>

                <tbody>
                    {% for student in attendance.attendance %}
                        {% if student.1.3 < 50 %}
                            <tr style="background: rgb(223, 194, 194)">
                        {% elif student.1.3 < 75 %}
                            <tr class="warning">
                        {% else %}
                            <tr style="background: rgb(170, 207, 170)">
                        {% endif %}
                        <td>{{student.0}}</td>
                        <td>{{student.1.0}}</td>
                        <td>{{student.1.2}}</td>
                        <td>{{student.1.1}}</td>
                        <td>{{student.1.3}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </body>
        <script src="{% static "app/js/jquery-1.11.1.min.js" %}"></script>
        <script src="{% static "app/bootstrap/js/bootstrap.min.js" %}"></script>
        <script src="{% static "app/js/jquery.backstretch.min.js" %}"></script>
        <script src="{% static "app/js/retina-1.1.0.min.js" %}"></script>
        <script src="{% static "app/js/scripts.js" %}"></script>
</html>